@media only screen and (min-width:768px){
    html{
        font-size: 18px;
    }

    .logo{
        font-size: 2rem;
    }


}

@media only screen and (min-width:1024px){
    .output{
        display: flex;
        justify-content: space-between;
    }

    .header-block{
        width:90vw;
    }

    .nav-block {
        width: 20vw;
    }
}

@media only screen and (min-width:1365px){
    html{
        font-size: 20px;
    }

    .nav-block {
        width: 15vw;
    }
}